<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.inventorymanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".BusinessHome"
            android:label="@string/title_activity_business_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SchemaInput"
            android:screenOrientation="portrait" />
        <activity android:name=".AddItemActivity" />
        <activity
            android:name=".LauncherActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Authentication.SignUpActivity" />
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".Authentication.ResetPasswordActivity" />
        <activity
            android:name=".Inventory"
            android:label="@string/title_activity_inventory"></activity>
        <activity android:name=".InventoryItemDetail"></activity>
    </application>

</manifest>